body, html {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #444;
    font-size: 14px;
}

b, strong {
    font-weight: 400;
}

header {
    line-height: 100px;
    background: #f7f5f4;
    background: -moz-linear-gradient(top,  #f7f5f4 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f5f4), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #f7f5f4 0%,#ededed 100%);
    background: -o-linear-gradient(top,  #f7f5f4 0%,#ededed 100%);
    background: -ms-linear-gradient(top,  #f7f5f4 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #f7f5f4 0%,#ededed 100%);
    border-bottom: 1px solid #55abe0;
}

header > div.wrapper,
footer > div.wrapper,
.header-line > .wrapper,
.main-wrapper {
    max-width: 1000px;
    margin: auto;
}

.fullscreen div.wrapper {
    max-width: inherit !important;
}

.fullscreen header  {
    padding: 0 50px;
}

.documentation > div.wrapper {
    margin: 0 50px;
}

.main-wrapper {
    max-width: 700px;
    padding: 25px 150px;
    background-color: #FBFBFB;
}

header img {
    position: relative;
    top: 15px;
}

.break {
    clear: both;
}

nav {
    float: right;
}

.documentation-navigation ul,
header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li,
header ul li {
    float: left;
    margin-left: 20px;
}

footer ul li {
    margin-left: 0;
    margin-right: 20px;
}

footer li a,
header li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

header ul li {
    margin-left: 10px;
}

header li a {
    padding: 2px 8px;
}

header li a.current {
    display: inline-block;
    background-color: #57b8ee;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    line-height: 25px;
    color: white;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: #317fb1;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 20px;
}

h2 {
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 15px;
}

h3 {
    color: #1f1f1f;
    font-size: 18px;
    padding: 5px 0;
}

a, a:link {
    color: #4498CE;
}

a:hover {
    color: #14374D;
}


.home-banner {
    height: 400px;
    background-color: #7bc4f0;
    text-align: center;
    transition-duration: 1s;
    overflow: hidden;
}

.header-line {
    height: 15px;
    background-color: #7bc4f0;
}

.header-line > .wrapper {
    text-align: right;
    line-height: 35px;
    padding-right: 15px;
}

.header-line-big {
    height: 35px;
}

.header-line a,
.header-line a:link {
    padding: 2px 8px;
    display: inline-block;
    background-color: #57b8ee;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
}

.header-line a.active {
    background-color: #55abe0;
}

.header-line a:hover {
    background-color: #4f9cd0;
}

.home-banner:hover {
    height: 640px;
}

.home-banner h2 {
    color: white;
    text-shadow: 0 1px 1px rgb(108, 108, 108);
    font-size: 30px;
    max-width: 530px;
    margin: auto;
    line-height: 38px;
    font-weight: 100;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.home-banner h2 strong {
    font-weight: 400;
}

.home-screen {
    width: 774px;
    height: 533px;
    margin: auto;
    position: relative;
    background-image: url(../images/home-screen-bg.png);
}

.home-screen img {
    position: relative;
    top: 47px;
}

.home-features {
    position: relative;
    background-color: #b0dfa5;
    background-color: #C3DCEB;
    color: #275e1a;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
}

.home-features > .wrapper {
    max-width: 1000px;
    margin: auto;
}

.home-features-item {
    float: left;
    width: 330px;
    padding-top: 30px;
    text-align: center;
    white-space: pre-line;
}

.home-features-item-last {
    clear: left;
    text-align: center;
    padding-top: 30px;
}

.home-features-item h3,
.home-features-item-last h3 {
    color: white;
    text-shadow: 0 1px 2px #6091ae;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 10px;

}

.home-content-top {
    max-width: 1000px;
    margin: 25px auto;
}


.home-content-left,
.home-content-right {
    box-sizing: border-box;
    width: 50%;
}

.home-content-right {
    float: right;
    padding: 30px;
    border-left: 1px solid #7bc4f0;
}

.home-content-left {
    float: left;
    padding: 25px;
    padding-top: 30px;
}

.home-content-right table {
    width: 100%;
}

.home-content-right table {
    margin-top: 5px;
}

.home-content-right table td {
    padding: 6px 0;
}

.home-content-bottom {
    background-color: #F8F8F8;
    color: #444;
    font-size: 14px;
    line-height: 20px;
}

.home-content-bottom > div.wrapper {
    max-width: 950px;
    margin: auto;
    padding: 50px 25px;
    background-color: #FBFBFB;
}

.home-content-bottom > div.wrapper h1 {
    text-align: center;
    color: #333;
    text-shadow: 0;
}

.home-content-bottom ul {
    list-style: none;
    line-height: 22px;
}

.home-content-bottom ul li:before {
    content: "✓";
    position: relative;
    left: -4px;
}

.home-buttons {
    text-align: center;
}

.button,
.button:link {
    background-color: #c3dceb;
    border: 0px;
    color: #55749E;
    font-size: 12px;
    padding: 0px 20px;
    -webkit-appearance: none;
    border-radius: 0;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.center {
    text-align: center;
}

.home-buttons .button {
    border-right: 1px solid #B5C3CC;
    text-decoration: none;
    box-shadow: 0 2px 1px #ACC5D4;
}

.home-buttons .button:last-child {
    border-right: 0;
}

.button:hover {
    background-color: #b9cfde;
}

footer {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    color: #376e90;
}

footer a,
footer a:link {
    text-decoration: underline;
    color: #376e90;
}

footer ul li {
    line-height: 80px;
}

.documentation-navigation {
    float: left;
    width: 250px;
    padding: 25px 0;
}


.documentation-navigation h3 {
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}


.documentation-navigation li {
    padding-left: 10px;
    line-height: 22px;
}

.documentation-navigation li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}


.documentation-navigation li.current a,
.documentation-navigation li.current a:link {
    color: #3D922A;
}

.documentation-navigation li.current a:hover {
    color: #2c6920;
}

.documentation-content ul.toc {
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #c4e7f7;
    border-radius: 6px;
}

.documentation-content ul.toc li,
.documentation-content ul.toc li li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.documentation-content ul.toc a,
.documentation-content ul.toc a:link {
    color: #2B6B96;
}

.documentation-content ul.toc a:hover {
    color: black;
}

.documentation-content {
    border-left: 1px solid #C3DCEB;
    background-color: #fbfbfb;
    margin-left: 250px;
    padding-bottom: 5px;
}

.documentation-content .next {
    text-align: right;
    display: block;
}

.documentation-content .wrapper {
    margin: 25px;
    margin-top: 0;
}

.search {
    text-align: right;
    padding: 10px 5px;
}

.jumper {
    position: fixed;
    opacity: 0;
    transition: 2s;
    bottom: 50px;
    right: 50px;
    height: 50px;
}

.jumper a,
.jumper a:link {
    display: block;
    background-color: #8dce91;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
    color: white;
}

.fork_and_edit {
    margin: 0;
}

.member {
    text-align: center;
    float: left;
    margin: 25px;
    color: gray;
}

.member p {
    margin: 5px 0;
}

.member img {
    width: 170px;
    border: 1px solid #ECECEC;
    padding: 5px;
    background-color: #FFF;
}

.member .icon-twitter,
.member .icon-github {
    text-decoration: none;
}

.member h3 {
    color: #317FB1;
}
