body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #636466;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #edbc1c;
}

a.logo {
    display: inline-block;
    line-height: 0;
    padding: 8px 0;
    float: left;
}

.wrapper,
header > div {
    margin: auto;
    width: 980px;
    position: relative;
}

.search {
    position: absolute;
    right: 0px;
    top: 92px;
}

.search input {
    border: 1px solid silver;
    height: 25px;
    line-height: normal !important;
    padding: 0 5px;
    background-color: #eee;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search input[name=q] {
    background-color: white;
}

header {
    height: 84px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}

header nav {
    float: right;
    height: 84px;
}

header nav li,
header nav li a {
    line-height: 84px;
    color: #636466;
}

.topmenu a {
    padding: 33px 12px;
}

.rootnav a:hover {
    color: white;
}

.topmenu a:hover {
    background-color: #ebb71c;
    color: #fff;
}

section.content {
    margin-top: 40px;
    background-color: white;
    padding: 40px 60px;
}

footer {
    height: 55px;
    background-color: #EDBC1C;
    padding: 15px 0;

}

p, li {
    font-size: 16px;
    line-height: 20px;
    word-spacing: 0px;
    text-align: justify;
    margin-bottom: 10px;
}

code {
    border: 1px solid #e3e3e3;
    padding: 0 2px;
    background-color: #f9f9f9;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
}

.highlight code {
    background-color: transparent;
    padding: 0;
    border: 0;
}

li {
    list-style: disc outside none;
    margin-bottom: 5px;
}

.on_top {
    float: right;
    padding: 0px;
    color: #000;
    margin: 0px auto;
    text-align: right;
    font-weight: bold;
    width: 400px;
}

.on_top p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.layout {
    padding: 0;
    width: 960px;
    margin: 0 auto;
}

#sky {
    top: 0;
    padding: 0;
    height: 195px;
    margin: 0 auto;
    text-align: right;
}

#text {
    position: absolute;
    margin-top: 80px;
    width: 960px;
    margin-left: 50px;
}

h1.hidden {
    display: none;
}

h2.title {
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 6em;
    font-weight: bold;
    letter-spacing: -3px;
}

p.title {
    font-size: 3em;
    font-style: italic;
}

h2.title a,
h2.title a:hover {
    color: #fff;
    text-decoration: none;
}

h2.title a:focus {
    text-decoration: underline;
}

article.blog-tease {
    border-bottom: 1px solid #e8e8e8;
}

.navigation_bread_crumb {
    margin: 0px;
    margin-bottom: 10px;
}

.navigation_bread_crumb ol {
    list-style-type: none;
}

.navigation_bread_crumb li {
    display: inline;
    font-size: 11px;
    margin-right: 5px;
}

.navigation_bread_crumb li a {
    color: #000;
}

.navigation_bread_crumb li a:hover,
.navigation_bread_crumb li a:focus {
    color: #edbc1c;
}

/* BOTTOM */
.bottom {
    background-color: #edbc1c;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.bottom p {
    margin: 3px;
    text-align: center;
    line-height: 1em;
    font-size: 12px;
}

.bottom a {
    color: #000;
}

.bottom a:focus,
.bottom a:hover {
    color: #fff;
}

.bottom li {
    display: inline-block;
}

h1 {
    color: #000;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

h1.no_margin_bottom {
    margin-bottom: 20px;
}

.blog h1 {
    font-size: 2.4em;
}

#scrollToTop a {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: rgb(255, 255, 255); /** rgba fallback**/
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px 10px;
}

#scrollToTop a:hover {
    text-decoration: none !important;
}

.topmenu ul li {
    list-style-type: none;
}

header li.element,
footer li.element {
    display: inline;
}

footer li.element {
    padding-right: 4px;
    margin-right: 7px;
    border-right: 1px solid #333;
}

footer li.element.last {
    border-right: 0;
}

footer > ul {
    text-align: center;
}

footer a.active,
footer a:hover {
    color: gray;
}

.rootnav {
    float: left;
    margin-top: 0px;
}

.rootnav li {
    padding: 12px;
    background-color: #edbc1c;
    color: #fff;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ribbon {
    background-color: #a00;
    overflow: hidden;
    /* top left corner */
    position: absolute;
    left: -3em;
    top: 2.5em;
    /* 45 deg ccw rotation */
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* shadow */
    -webkit-box-shadow: 0 0 1em #888;
    box-shadow: 0 0 1em #888;
    z-index: 100;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
}

.navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.left, .right {
    display: inline;
    margin: 10px;
}

.current {
    color: black;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.toc {
    float: right;
    width: 200px;
    text-align: left;
    background: #edbc1c;
    margin: 30px 0 10px 15px;
    padding: 10px 10px 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.toc li {
    font-size: 14px;
    text-align: left;
    list-style-type: none;
}

.toc li ul li {
    margin-left: 10px;
}

.toc li ul li ul li {
    margin-left: 20px;
}

.toc a:hover {
    color: #fff;
}

.fork_and_edit {
    text-align: center;
    font-style: italic;
    background: transparent url(../images/github.gif) no-repeat 0 0;
    height: 30px;
    margin: 60px auto 0;
    padding-top: 5px;
    width: 670px;
}

.fork_and_edit a {
    text-decoration: underline;
}

.gsc-search-box, .gsc-control {
    width: 100% !important;
    font-size: 14px !important;
}

.ecg th {
    text-align: center;
}

a.anchor_link {
    padding: 2px;
    color: #EEE;
    text-decoration: none;
    font-size: 60%;
}

a.anchor_link:hover {
    color: #666;
}

p.author {
    color: #666;
    font-size: 14px;
}
