.markdown h2 {
    padding: 15px 0;
    margin-top: 25px;
    border-top: 1px solid #ddd;
}

.markdown h2 .link {
    color: #000;
    text-decoration: none;
}

/*.markdown h3 {*/
    /*color: #000;*/
    /*font-size: 1.6em;*/
    /*margin: 1em 0 0.5em 0;*/
/*}*/

/*.markdown h4 {*/
    /*color: #000;*/
    /*font-size: 1.2em;*/
    /*font-style: italic;*/
    /*margin: 1.5em 0 1em 0;*/
/*}*/

.markdown h5 {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}

.markdown ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 1em;
}

.markdown ul ul {
    margin-bottom: 0;
}

.markdown ul li {
    list-style: disc inside;
    line-height: 22px;
}

.markdown ul li li {
    list-style: circle inside;
    margin-left: 1em;
}

.markdown ol li {
    list-style: decimal inside;
    margin-bottom: 1em;
}

.markdown li p {
    display: inline;
}

.markdown pre {
    font-family: "Bitstream Vera Sans Mono", monospace;
    padding: 5px;
    max-width: 100%;
    overflow-y: auto;
}

.markdown blockquote {
    background: white;
    padding-bottom: 5px;
    margin: 1em 0 1em 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #222;
}

.markdown blockquote > p {
    margin: 0;
    padding: 0 10px
}

.markdown blockquote strong:first-child {
    margin: 0 -10px;
    margin-bottom: 8px;
    display: block;
    padding: 6px 0px 6px 10px;
    background: #E7EFF5;
    background-position: 7px 5px;
    letter-spacing: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

.markdown blockquote strong:first-child:before {
    content: '!';
    /* padding-right: 5px; */
    /* padding: 3px; */
    border-radius: 10px;
    background-color: #FFF;
    display: inline-block;
    line-height: 20px;
    width: 18px;
    height: 20px;
    text-align: center;
    padding-left: 2px;
    margin-right: 8px;
    color: #333;
}

.markdown blockquote .highlight {
    margin: 5px 15px;
}

.markdown table {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}

.markdown tbody tr td {
    padding: 4px 10px 4px 5px;
    border-bottom: 1px solid #ccc;
}

.markdown thead tr th {
    background: #eee;
    padding: 1em;
}

.markdown img {
    margin: 0.5em auto;
    max-width: 100%;
    text-align: center;
    display: block;
}

.markdown img.inline {
    vertical-align: middle;
    margin: 0 0.5em;
    border: none;
}
