    <footer>
        <div class="wrapper">
        <!-- <ul>
            <li class="element first">
                <a class="link" href="/documentation/">Documentation</a>
            </li>
            <li class="element">
                <a class="link" href="/support.html">Support</a>
            </li>
            <li class="element">
                <a class="link" href="/download.html">Download</a>
            </li>
            <li class="element">
                <a class="link" href="/contribute.html">Contribute</a>
            </li>
            <li class="last element">
                <a class="link" href="/blog/">Blog</a>
            </li>
        </ul>
        <div class="break"></div>
        -->
        <p>
            <a href="/about-us.html">About us</a> | <a href="http://sandbox.propelorm.org/">Sandbox</a> | <a href="https://github.com/propelorm/">Github</a>
        </p>
        <p class="fork_and_edit">
            Found a typo ? Something is wrong in this documentation? Just <a
                href="https://github.com/propelorm/propelorm.github.com/edit/master/{{ page.path }}">fork
            and edit</a> it!
        </p>
        <br/>
        </div>
    </footer>
</div> <!-- wrapper -->
