<div class="ribbon">
    <a href="https://github.com/propelorm/Propel2" rel="me">Fork me on GitHub</a>
</div>

<div class="banner">
    <p>
        Heya! The Propel 1.x documentation has moved: <a href="http://propelorm.org/Propel/">http://propelorm.org/Propel/</a>. Please update your links!
    </p>
</div>

<header>
    <div>
        <a href="/" class="logo"><img src="/images/propel-logo.png"/></a>
        <nav>
            {% include navbar.html %}
        </nav>
        <div class="search">
            <form action="/search.html">
                <input name="q" placeholder="Search..." type="text" />
                <input type="submit" value="Go" />
            </form>
        </div>
    </div>
</header>

<div class="wrapper">
