
<div class="home-content-top">
    <div class="home-content-left">
        {{ contentLeft | markdownify }}
    </div>

    <div class="home-content-right">
        {{ contentRight | markdownify }}
    </div>
    <div class="break"></div>
</div>

<div class="home-content-bottom">
    <div class="wrapper">
        {{ contentBottom | markdownify }}

        <div class="center">
            <br/>
            <a href="/documentation/01-installation.html" class="button">Get started</a>
        </div>
    </div>
</div>